<div class="body">
  <div class="searchbar-wrapper">
    <app-searchbar (searchResultEvent)="updateData($event)"></app-searchbar>
  </div>
  <div *ngIf="searchResult.length < 1; else showResult" class="data-wrapper">
    <div class="work-role">
      <h3>Information kopplat till din yrkesroll</h3>
    </div>

    <div class="interesting-areas">
      <h3>Intressanta områden att utforska</h3>
    </div>

    <div class="topics-of-interest">
      <h3>Information kopplat till dina angivna intressen.</h3>
    </div>
  </div>
  <ng-template #showResult class="search-result-wrapper">
    <app-searchresult [data]="searchResult"></app-searchresult>
  </ng-template>
</div>
