<div class="body">
  <div class="searchbar-wrapper">
    <app-searchbar (searchResultEvent)="updateData($event)"></app-searchbar>
  </div>
  <div *ngIf="data.length < 1; else showResult" class="data-wrapper">
    <h1>Skriv in det du letar efter i sökrutan ovan.</h1>
  </div>

  <ng-template #showResult class="search-result-wrapper">
    <div class="body">
      <div class="section topresults">
        <h3>Topresultat</h3>
        <div
          class="top-container"
          fxLayout="row"
          fxLayoutAlign="space-around stretch"
          fxLayout.xs="column"
          fxLayoutGap="20px"
        >
          <div fxFlex="50" class="child child-1">
            <app-data-card [data]="data[0]" [isMainCard]="true"></app-data-card>
          </div>
          <div class="child child-2" fxFlex="50">
            <app-data-card [data]="data[1]"></app-data-card>
            <br />
            <app-data-card [data]="data[2]"></app-data-card>
          </div>
        </div>
      </div>
      <div class="section actors">
        <h3>Aktörer</h3>
      </div>
      <div class="section areas">
        <h3>Områden</h3>
      </div>
    </div>
  </ng-template>
</div>
