<div class="body">
  <!-- Header -->
  <p class="header">
    <mat-toolbar>
      <span>Urban Cloud</span>
      <span class="example-spacer"></span>
      <button mat-button class="createAccountBtn" aria-label="">
        Skapa konto
      </button>
      <button mat-button class="loginBtn" aria-label="">Logga in</button>
    </mat-toolbar>
  </p>
  <!-- Content -->
  <div class="content-wrapper">
    <div class="title-wrapper">
      <h1 class="title">Urban Cloud</h1>
    </div>
    <span>Utforska information från hela samhällsbyggnadsprocessen</span>
    <div class="search-wrapper">
      <mat-form-field>
        <input matInput class="search-input" placeholder="Sök" type="text" />
      </mat-form-field>
    </div>
  </div>
</div>
