<p class="header">
  <mat-toolbar>
    <span class="home-link" (click)="navigateTo('home')">Urban Cloud</span>
    <span class="example-spacer"></span>
    <button
      *ngIf="!isLoggedIn; else loggedIn"
      mat-button
      class="btn"
      (click)="navigateTo('register')"
    >
      Skapa konto
    </button>
    <ng-template #loggedIn>
      <button mat-button class="btn" (click)="navigateTo('home')">
        Dashboard
      </button>
    </ng-template>
    <button
      mat-button
      *ngIf="!isLoggedIn; else showLogout"
      class="btn loginBtn"
      (click)="navigateTo('login')"
    >
      Logga in
    </button>
    <ng-template #showLogout>
      <button
        #showLogout
        mat-button
        class="btn logoutBtn"
        (click)="navigateTo('logout')"
      >
        Logga ut
      </button>
    </ng-template>
  </mat-toolbar>
</p>
