<app-header></app-header>
<div class="body">
  <section>
    <div class="dashboard-wrapper">
      <mat-card class="admin-dashboard-card">
        <mat-card-content>
          <a [routerLink]="['']" routerLinkActive="router-link-active">
            <mat-icon>library_add</mat-icon>
            <p style="letter-spacing: 0.2em">MANAGE DATABASE</p>
          </a>
        </mat-card-content>
        <a [routerLink]="['/dashboard/area', 'test']">AreaPage</a>
        <a [routerLink]="['/dashboard/actor', 'test']">ActorPage</a>
      </mat-card>

      <mat-card class="admin-dashboard-card">
        <mat-card-content>
          <a [routerLink]="['']" routerLinkActive="router-link-active">
            <mat-icon>bug_report</mat-icon>
            <p style="letter-spacing: 0.2em">VIEW ERRORS</p>
          </a>
        </mat-card-content>
      </mat-card>

      <mat-card class="admin-dashboard-card">
        <mat-card-content>
          <a [routerLink]="['']" routerLinkActive="router-link-active"
            ><mat-icon>group</mat-icon>
            <p style="letter-spacing: 0.2em">USER ACCOUNTS</p>
          </a>
        </mat-card-content>
      </mat-card>

      <mat-card class="admin-dashboard-card">
        <mat-card-content>
          <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active"
            ><mat-icon>person</mat-icon>
            <p style="letter-spacing: 0.2em">CUSTOMER VIEW</p>
          </a>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>
