.container {
  border-radius: 15px;
  margin: 0;
  margin-top: 20px;
}

.card {
  border-radius: 15px;
  min-height: 325px;
  height: 380px;
}

.card:hover {
  background-color: #dddddd;
}

.card-title {
  padding-top: 20px;
  padding-left: 10px;
}

.card-content {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}

/* Small card */

.smallcard {
  /* background-color: #ffffff; */
  box-shadow: none;
  padding: 2px;
  padding-left: 0px;
  border-radius: 8px;
  /* border: 1px solid;
  border-radius: 8px;
  border-color: #dadada; */
}

.smallcard:hover {
  background-color: #dddddd;
  border-radius: 8px;
}

.smalltitle {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.smallsub-title {
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
}

