<div class="body">
  <div class="content" fxLayout="row" fxLayout.xs="column">
    <div class="col-1" fxFlex="70%">
      <div class="wrapper-data">
        <mat-card class="card main-card">
          <mat-card-header class="header">
            <mat-card-title class="card-title">
              {{ areaObj.title | cutText: 20 }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-content">
            <p *ngIf="!descriptionExpanded; else expanded">
              {{ areaObj.description | cutText: 200 }}
            </p>
            <ng-template #expanded>
              <p>{{ areaObj.description }}</p>
            </ng-template>
            <button
              class="button"
              mat-button
              (click)="descriptionExpanded = !descriptionExpanded"
            >
              Läs mer
            </button>
          </mat-card-content>
          <mat-card-subtitle *ngIf="includesObjects.length > 0"
            >Innefattar</mat-card-subtitle
          >
          <mat-card-actions>
            <div
              class="top-container"
              fxLayout="row wrap"
              fxLayoutAlign="start start"
              fxLayout.xs="column"
              fxLayoutGap="20px"
            >
              <div
                *ngFor="let obj of includesObjects.slice(0, viewIncludesIdx)"
                fxFlex="45%"
                class="child child-1"
              >
                <mat-card class="card mat-elevation-z4">
                  <mat-card-header class="header">
                    <mat-card-title class="card-title">
                      {{ obj.title | cutText: 20 }}
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="card-content">
                    <p>
                      {{ obj.description | cutText: 100 }}
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div
              *ngIf="!includesExpanded && includesObjects.length > 4"
              class="show-more-wrapper"
            >
              <button
                class="button"
                mat-button
                (click)="toggleViewMoreIncludeObj()"
              >
                Se fler
              </button>
            </div>
            <div
              *ngIf="includesExpanded && includesObjects.length > 4"
              class="show-less-wrapper"
            >
              <button
                class="button"
                mat-button
                (click)="toggleViewMoreIncludeObj()"
              >
                Se färre
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="col-2" fxFlex="30%">
      <div class="side-wrapper">
        <div class="title"><h1>Relaterade områden</h1></div>
        <div
          class="relatedlist"
          style="margin-bottom: 20px"
          *ngFor="let obj of relatedAreasObj"
        >
          <app-small-area-card [area]="obj"></app-small-area-card>
        </div>
        <br />
        <h3>Aktörer inom {{ areaObj.title }}</h3>
        <div *ngFor="let actor of actorsWithinArea">
          <app-small-actor-card [actor]="actor"></app-small-actor-card>
        </div>
        <br />
        <h3>Andra läste också</h3>
        <span class="others">Checklista för planering av VA-projekt</span>
        <br />
        <br />
        <span class="others">Processtöd för VA-projekt</span>
        <br />
        <br />
        <span class="others">Rörnät & klimat</span>
        <br /><br />
      </div>
    </div>
  </div>
</div>
