<div class="body">
  <div class="content" fxLayout="row" fxLayout.xs="column">
    <div class="col-1" fxFlex="70%">
      <div class="wrapper-data">
        <mat-card class="card main-card">
          <mat-card-header class="header">
            <mat-card-title class="card-title">
              {{ areaObj.title }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-content">
            <p>
              {{ areaObj.description }}
            </p>
            <button
              class="button link-btn"
              mat-raised-button
              (click)="openAreaSourcePage()"
            >
              Läs mer här
            </button>
          </mat-card-content>
          <mat-card-subtitle *ngIf="includesObjects.length > 0"
            >Innefattar</mat-card-subtitle
          >
          <mat-card-actions>
            <div
              class="top-container"
              fxLayout="row wrap"
              fxLayoutAlign="start start"
              fxLayout.xs="column"
              fxLayoutGap="20px"
            >
              <div
                *ngFor="let obj of includesObjects.slice(0, viewIncludesIdx)"
                fxFlex="45%"
                class="child child-1"
              >
                <app-document-card
                  [showSmallCard]="true"
                  [document]="obj"
                ></app-document-card>
              </div>
            </div>
            <div
              *ngIf="!includesExpanded && includesObjects.length > 4"
              class="show-more-wrapper"
            >
              <button
                class="button"
                mat-button
                (click)="toggleViewMoreIncludeObj()"
              >
                Se fler
              </button>
            </div>
            <div
              *ngIf="includesExpanded && includesObjects.length > 4"
              class="show-less-wrapper"
            >
              <button
                class="button"
                mat-button
                (click)="toggleViewMoreIncludeObj()"
              >
                Se färre
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="col-2" fxFlex="30%">
      <app-relation-side-bar
        [actorSectionTitle]="'Aktörer inom ' + areaObj.title"
        [areaSectionTitle]="'Relaterade områden'"
        [relatedAreasObj]="relatedAreasObj"
        [relatedActorsObj]="actorsWithinArea"
      ></app-relation-side-bar>
    </div>
  </div>
</div>
