.container {
  padding-top: 15px;
  border-radius: 15px;
  min-height: 145px;
}

.card {
  border-radius: 15px;
  min-height: 145px;
}

.header {
  padding-top: 20px;
  padding-left: 10px;
}

.card-content {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.card:hover {
  background-color: #dddddd;
}

.smallheader{
  padding-top: 20px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.smallcard {
  background-color: white;
  border-radius: 15px;
  min-height: 130px;
  margin-bottom: 10px;
}

.smallcard:hover {
  background-color: #dddddd;
}

.smalltitle {
  font-weight: bold;
}
