<div class="body">
  <app-loading-spinner></app-loading-spinner>
  <div class="content" fxLayout="row" fxLayout.xs="column">
    <div class="col-1" fxFlex="70%">
      <div class="wrapper-data">
        <mat-card class="card main-card">
          <mat-card-header class="header">
            <img class="image" [src]="actorObj.imageUrl" />
            <br />
            <mat-card-title class="card-title">
              {{ actorObj.title }}
            </mat-card-title>
          </mat-card-header>
          <br />
          <br />
          <mat-card-content class="card-content">
            <p class="description">
              {{ actorObj.description }}
            </p>
          </mat-card-content>
          <button
            class="button link-btn"
            mat-raised-button
            (click)="openActorHomePage()"
          >
            Besök aktörens hemsida
          </button>
          <!-- <mat-card-subtitle
            *ngIf="
              includesObjects.length > 0 || actorObj.permissions.length > 0
            "
            >Från {{ actorObj.title }}</mat-card-subtitle
          > -->
          <mat-card-subtitle *ngIf="actorObj.permissions.length > 0"
            >{{ actorObj.title }} ger ut licenser till följande
            tillstånd</mat-card-subtitle
          >
          <mat-card-actions *ngIf="actorObj.permissions.length > 0">
            <div
              class="top-container"
              fxLayout="row wrap"
              fxLayoutAlign="start start"
              fxLayout.xs="column"
              fxLayoutGap="20px"
            >
              <div
                *ngFor="
                  let obj of actorObj.permissions.slice(0, viewPermissionsIdx)
                "
                fxFlex="45%"
                class="child child-1"
              >
                <app-permission-card
                  [showSmallCard]="true"
                  [permission]="obj"
                ></app-permission-card>
              </div>
            </div>
            <div
              *ngIf="!permissionsExpanded && actorObj.permissions.length > 4"
              class="show-more-wrapper"
            >
              <button
                class="button"
                mat-button
                (click)="toggleViewMorePermissionObj()"
              >
                Se fler
              </button>
            </div>
            <div
              *ngIf="permissionsExpanded && actorObj.permissions.length > 4"
              class="show-less-wrapper"
            >
              <button
                class="button"
                mat-button
                (click)="toggleViewMorePermissionObj()"
              >
                Se färre
              </button>
            </div>
          </mat-card-actions>

          <mat-card-subtitle *ngIf="includesObjects.length > 0"
            >{{ actorObj.title }} är källa till följande
            dokument</mat-card-subtitle
          >
          <mat-card-actions *ngIf="includesObjects.length > 0">
            <div
              class="top-container"
              fxLayout="row wrap"
              fxLayoutAlign="start start"
              fxLayout.xs="column"
              fxLayoutGap="20px"
            >
              <div
                *ngFor="let obj of includesObjects.slice(0, viewIncludesIdx)"
                fxFlex="45%"
                class="child child-1"
              >
                <app-document-card
                  [showSmallCard]="true"
                  [document]="obj"
                ></app-document-card>
              </div>
            </div>
            <div
              *ngIf="!includesExpanded && includesObjects.length > 4"
              class="show-more-wrapper"
            >
              <button
                class="button"
                mat-button
                (click)="toggleViewMoreIncludeObj()"
              >
                Se fler
              </button>
            </div>
            <div
              *ngIf="includesExpanded && includesObjects.length > 4"
              class="show-less-wrapper"
            >
              <button
                class="button"
                mat-button
                (click)="toggleViewMoreIncludeObj()"
              >
                Se färre
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="col-2" fxFlex="30%">
      <app-relation-side-bar
        [actorSectionTitle]="'Relaterade aktörer'"
        [areaSectionTitle]="'Relaterat till ' + actorObj.title"
        [relatedActorsObj]="actorObj.relatedActors"
        [relatedAreasObj]="actorObj.relatedAreas"
      ></app-relation-side-bar>
    </div>
  </div>
</div>
