<div class="body">
  <mat-stepper class="stepper" color="primary" #stepper>
    <mat-step class="step">
      <ng-template matStepLabel>Välkommen</ng-template>
      <div class="first-page-wrapper">
        <h1>Välkommen {{ user.firstname }}</h1>
        <span class="welcome-text"
          >För att kunna erbjuda dig den bästa möjliga upplevelsen med Urban
          Cloud behöver vi veta lite mer om dig och din arbetsroll.</span
        >
      </div>
      <button mat-button matStepperNext class="button">Kom igång</button>
    </mat-step>

    <mat-step class="step">
      <ng-template matStepLabel>Akörer</ng-template>
      <h1>Välj några aktören som finns inom ditt område (Välj upp till 5)</h1>
      <div class="input add-new-word">
        <input
          required="true"
          (keyup.enter)="addNewRole()"
          class="inin input new-role"
          type="text"
          placeholder="Lägg till eget nyckelord"
          [(ngModel)]="roleInput"
        />
      </div>
      <mat-button-toggle-group
        class="button-toggle-group"
        [(ngModel)]="selectedRoles"
        multiple
      >
        <mat-button-toggle
          class="toggle-button"
          *ngFor="let role of workRoles"
          value="{{ role }}"
        >
          {{ role }}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div>
        <button mat-button matStepperPrevious class="button">Bakåt</button>
        <button
          *ngIf="selectedRoles.length < 6; else toManyRoles"
          mat-button
          matStepperNext
          class="button"
        >
          Fortsätt
        </button>
        <ng-template #toManyRoles>
          <button mat-button disabled="true" class="button">Fortsätt</button>
          <small class="error">Du kan välja som mest 5 st aktörer.</small>
        </ng-template>
      </div>
    </mat-step>

    <mat-step class="step">
      <ng-template matStepLabel>Områden</ng-template>
      <h1>Välj några områden som är viktiga för dig(Välj upp till 7)</h1>
      <div class="input add-new-word">
        <input
          matInput
          required="true"
          (keyup.enter)="addNewArea()"
          class="input new-area"
          type="text"
          placeholder="Lägg till eget nyckelord"
          [(ngModel)]="areaInput"
        />
      </div>
      <mat-button-toggle-group
        class="button-toggle-group"
        [(ngModel)]="selectedAreas"
        multiple
      >
        <mat-button-toggle
          class="toggle-button"
          *ngFor="let area of importantAreas"
          value="{{ area }}"
        >
          {{ area }}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div>
        <button class="button" mat-button matStepperPrevious>Bakåt</button>
        <button
          class="button"
          mat-button
          matStepperNext
          *ngIf="selectedAreas.length < 7; else toManyAreas"
        >
          Fortsätt
        </button>
        <ng-template #toManyAreas>
          <button class="button" mat-button disabled="true">Fortsätt</button>
          <small class="error"
            >Du kan välja som mest 7 st områden av intresse.</small
          >
        </ng-template>
      </div>
    </mat-step>

    <mat-step class="step">
      <ng-template matStepLabel>Dokument</ng-template>
      <h1>
        Vilka typer av dokument är mest intressant för dig? (Välj upp till 7)
      </h1>
      <div class="input add-new-word">
        <input
          matInput
          required="true"
          (keyup.enter)="addNewArea()"
          class="input new-area"
          type="text"
          placeholder="Lägg till eget nyckelord"
          [(ngModel)]="areaInput"
        />
      </div>
      <mat-button-toggle-group
        class="button-toggle-group"
        [(ngModel)]="selectedInfo"
        multiple
      >
        <mat-button-toggle
          class="toggle-button"
          *ngFor="let info of importantInfo"
          value="{{ info }}"
        >
          {{ info }}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div>
        <button class="button" mat-button matStepperPrevious>Bakåt</button>
        <button
          class="button"
          *ngIf="selectedInfo.length < 7; else toManyInfo"
          mat-button
          (click)="onSubmit()"
        >
          Klar
        </button>
        <ng-template #toManyInfo>
          <button class="button" mat-button disabled="true">Klar</button>
          <small class="error"
            >Du kan välja som mest 7 st dokument av intresse.</small
          >
        </ng-template>
      </div>
    </mat-step>
  </mat-stepper>
</div>
