<div class="body">
  <div class="section work-role">
    <h3>Utforska Urban Cloud</h3>
    <div
      class="container"
      fxLayout="row wrap"
      fxLayoutAlign="start start"
      fxLayoutGap="15px"
      fxLayout.xs="column"
    >
      <div class="child1" fxFlex="90%">
        <mat-card class="card main-card" (click)="routeToSearch()">
          <mat-card-title class="title">Testa sökfunktionen </mat-card-title>
          <mat-card-subtitle
            >Utforska information från
            samhällsbyggnadsprocessen</mat-card-subtitle
          >
        </mat-card>
      </div>
      <div class="child2" fxFlex="45%">
        <mat-card class="card sub-card" (click)="routeToNewProject()">
          <mat-card-title class="title">Skapa nytt projekt</mat-card-title>
          <mat-card-subtitle
            >Testa processtöd från Urban Cloud genom att skapa
            projekt</mat-card-subtitle
          >
        </mat-card>
      </div>
      <div class="child3" fxFlex="44%">
        <mat-card class="card card3 sub-card" (click)="routeToMapTool()">
          <mat-card-title class="title">Utforska kartverktyget</mat-card-title>
          <mat-card-subtitle
            >Utforska översiktsplaner, detaljplaner och annan geospatial
            information</mat-card-subtitle
          >
        </mat-card>
      </div>
    </div>
  </div>

  <div class="section interesting-areas">
    <h2>Rekommenderat för dig</h2>
    <app-search-section
      [notSearchResult]="true"
      [actors]="roleRelatedActors"
      [areas]="intresstingAreas"
      [documents]="intresstingDocuments"
    ></app-search-section>
  </div>
</div>
