<div class="mat-dialog-container" *ngIf="!showSmallCard; else elseBlock">
  <mat-card
    class="example-card mat-elevation-z4 card"
    (click)="routeToActorpage()"
  >
    <mat-card-header class="header">
      <div class="example-header-image">
        <img
          class="image"
          mat-card-image
          [src]="actor.imageUrl"
          alt="Image not workin"
        />
      </div>
    </mat-card-header>
    <mat-card-content class="card-content">
      <h1>{{ actor.title }}</h1>
      <p class="text-paragraph">
        {{ actor.description | cutText: 200 }}
      </p>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #elseBlock>
  <mat-card class="smallcard" (click)="routeToActorpage()">
    <mat-card-header>
      <div mat-card-avatar class="small-header-image">
        <img
          class="image"
          [src]="actor.imageUrl"
          mat-card-image
          alt="Image not workin"
        />
      </div>
      <mat-card-title>{{ actor.title }}</mat-card-title>
      <mat-card-subtitle class="smallcard-title">{{
        actor.description | cutText: cutDescription
      }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</ng-template>
