.example-header-image {
  background-size: cover;
}

.card:hover {
  background-color: #dddddd;
}

.image {
  max-width: 200px;
  max-height: 130px;
}
.small-header-image {
  background-size: cover;
  padding-top: 20px;
  padding-right: 10px;
}

.example-card {
  background-color: white;
  border-radius: 15px;
  min-height: 283px;
}

.mat-dialog-container {
  margin: 0;
  margin-top: 20px;
  border-radius: 15px;
  min-height: 283px;
}

.header {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
}

.card-content {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
}

.card-title {
  margin-left: 10px;
  margin-right: 10px;
}

.card-subtitle {
  margin-left: 10px;
  margin-right: 10px;
}


.smallcard {
  background-color: #f5f5f5;
  box-shadow: none;
}

.smallcard:hover {
  background-color: #dddddd;
}

